       .intro>h1 {
           text-align: center;
           margin-top: 40px;
           margin-bottom: 10px;
           font-weight: bold;
       }

       .intro p {
           text-align: center;
           margin-bottom: 30px;
       }

       main {
           display: flex;
           flex-direction: column;
           min-height: 50vh;
      
       }


       .flex-section {
           flex: 10;
           /* flex-grow: 10; (vokser 10x raskere) */
           background-color: rgb(255, 228, 233);
           min-height: 80%;
           display: flex;
           gap: 10px;
           margin-bottom: 120px;
           margin-top: 20px;
       }

       /* A */
       .content-a {
           flex: 1 1 60%;
           margin-left: 15px;

       }

       .info1 {
           margin-top: 20px;
           margin-bottom: 20px;
       }

       .info {
           margin-top: 10px;
           margin-bottom: 20px;
       }

       .content-a h2 {
           margin-top: 15px;
           text-align: center;
           font-weight: bold;

       }

       /* A */

       /* B */
       .content-b {
           flex: 1 1 40%;
           display: flex;
           flex-direction: column;
           background-color: rgb(218, 227, 255);
           gap: 10px;
       }

       .content-b>* {
           flex: 1;
       }

       .b1 {
           margin-top: 30px;
           text-align: center;
       }

       .b1 img {
           aspect-ratio: 1/1;
           object-fit: cover;
       }

       .b1 p {
           margin-top: 10px;
           margin-bottom: 10px;
       }


       /* B */


   